__pycache__/
*.pyc
build/
dist/
*.spec
rapports/
listes/externes/*
!listes/externes/rencontres_ut1.txt
!listes/externes/rencontres_shadowwhisperer.txt
adguard_analyse.config.json
exemples/querylog.json
*.csv
*.html
